*{
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   
}
.first{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    align-content: center;
    height: 100vh;
   margin: 0 !important;
   margin-top: 10px !important;
    background-color: #F4F2F1;

    
}
.img-container{
    max-width: 360px;
    min-width: 200px;
    width: 50%;

}

img{
    width: 100%; 
}

.text-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h4{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
.card{
border: #5B3C66 solid 5px;
border-radius: 10px;
max-width: 300px;
width: 18rem;
}


.card-body{
    border-radius: 10px;

}
.card-title{
    font-family: 'Comfortaa', cursive;

}
.info-section{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100vh;
}
.col{
    display: flex;
    justify-content: center;
    
}
.card-text{
    font-family: 'Roboto', sans-serif;
 
}
