@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-family: 'Roboto', sans-serif;
  background-color: #F8E8F3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color: #545454
}